@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<div class="row">
    <div id="play"></div><br />
    <div class="col-md-4">
        <div>
            <h2>Buscador</h2>
            <p><input type="text" class="form-control" id="txtkey" placeholder="Nombre" />        </p>
            <p><a class="btn btn-default" href="javascript:void(0)" onclick="btnSearch()">Buscar Video</a></p>
            <br />
            @*<button onclick="myFunction('https://api.github.com/users/mralexgray/repos')">Try it</button>*@

            <div class="list-group">
                <div class="slideContainer" id="YoutubeLista"></div>
            </div>
        </div>
    </div>
</div>


<style>
    #play {
        padding-top: 50px;  
        position: relative;
        float: right;
    }    
</style>




<script>
    function myFunction(YoutubeLista) {

        $.get(url, function (btnSearch) {
            var temp = btnSearch[0]
            alert("Data Loaded: " + btnSearch);
            alert("temp.id = " + temp.id);
            alert("temp.Title = " + temp.T);
        });
    }



    function btnSearch()
    {
        $.ajax(
            {
                url: '@Url.Action("BuscarLista")?palabra=' + $('#txtkey').val(),
                type: 'GET',
                success: function (result) {
                    $('#YoutubeLista').html(result);
                    //respuesta
                }
            });
    }

        function btnAdd(Video) {
        $.ajax(
            {
                url: '@Url.Action("AddToPlayList","Home")?IdVideo=' + Video,
                type: 'GET'
            });
    }

    function btnPlay(Id) {
        $.ajax(
            {
                url: '@Url.Action("Play","Home")?IdVideo=' + Id,
                type: 'GET',
                success: function (result) {
                    $('#play').html(result);
                }
            });
    }
</script>